<section id="banner">
  <div class="container-fluid presentation">
    <div class="row banner">
      <div class="col-7">
        <div>
          <div class="title">Tlatoa</div>
          <div class="description">Traduce, guarda, práctica y comparte vocabulario de los idiomas que estés aprendiendo
          </div>
        </div>
        <div class="text-center">
          <a href="https://play.google.com/store/apps/details?id=com.developersmix.tlatoa">
            <img class="play-store-logo" src="assets/images/get_it_on_play_store.png" alt="get_it_on_play_store">
          </a>
        </div>
        <div class="policy-privacy">
          Consulta nuestra <a class="ref-policy-privacy" href="https://politica-de-privacidad-tlatoa.developersmix.com/">política de privacidad</a>
        </div>
      </div>
      <div class="col" id="image-01">
        <img class="img-banner" src="assets/images/00.png" alt="00">
      </div>
    </div>
  </div>
</section>

<div class="container"></div>

<div class="container">
  <section #animatedSection [@fadeInOut]="sectionStates[0] || 'hidden'" class="section fade-section">
    <div class="row element">
      <div class="col-7 col-text">
        <div class="topic-title">Traduce y guarda</div>
        <div class="topic-description">Traduce frases cortas para 77 lenguajes disponibles.</div>
        <div class="topic-description">Escucha la pronunciación aproximada con Text To Speech (TTS) eligiendo entre
          distintas voces.</div>
        <div class="topic-description">Guarda y mantén disponible tu nuevo vocabulario.</div>
      </div>
      <div class="col-1"></div>
      <div class="col img">
        <img class="img-topic" src="assets/images/01.png" alt="01">
      </div>
    </div>
  </section>

  <section #animatedSection [@slideInFromLeft]="sectionStates[1] || 'hidden'" class="section slide-section">
    <div class="row element">
      <div class="col img">
        <img class="img-topic" src="assets/images/02.png" alt="02">
      </div>
      <div class="col-1"></div>
      <div class="col-7">
        <div class="topic-title">Crea colecciones</div>
        <div class="topic-description">Guarda separando por temas y/o idiomas creando tus propias colecciones.</div>
        <div class="topic-description">Utiliza las colecciones sugeridas para conocer tu app.</div>
        <div class="topic-description">Edita y revisa los elementos de tus colecciones para adecuarlos a tu contexto de
          estudio.</div>
      </div>
    </div>
  </section>

  <section #animatedSection [@scaleUp]="sectionStates[2] || 'hidden'" class="section scale-section">
    <div class="row element">
      <div class="col-6">
        <div class="topic-title">Memoriza jugando</div>
        <div class="topic-description">Utiliza los 5 juegos disponibles para apoyarte en tu proceso de aprendizaje.
        </div>
        <div class="topic-description">Jugar combinando idiomas te dará otro nivel de dificultad.</div>
      </div>
      <div class="col-1"></div>
      <div class="col img">
        <img class="img-topic" src="assets/images/03.png" alt="03">
      </div>  
    </div>
  </section>

  <section #animatedSection [@fadeInOut]="sectionStates[3] || 'hidden'" class="section fade-section">
    <div class="row element">
      <div class="col img">
        <img class="img-topic" src="assets/images/04.png" alt="04" width="100%">
      </div>
      <div class="col-1"></div>
      <div class="col-7">
        <div class="topic-title">Memoriza con flashcards</div>
        <div class="topic-description">
          Revisa el vocabulario de tus colecciones con flashcards
        </div>
        <div class="topic-description">
          Puedes filtrar por prioridad para enfocarte en los elementos más importantes.
        </div>
      </div>
    </div>
  </section>

  <section #animatedSection [@fadeInOut]="sectionStates[3] || 'hidden'" class="section fade-section">
    <div class="row element">
      <div class="col-7">
        <div class="topic-title">Practica con IA</div>
        <div class="topic-description">
          Crea breves conversaciones con tu vocabulario agregado utilizando inteligencia artificial.
        </div>
      </div>
      <div class="col-1"></div>
      <div class="col img">
        <img class="img-topic" src="assets/images/05.png" alt="05" width="100%">
      </div>
    </div>
  </section>

  <section #animatedSection [@fadeInOut]="sectionStates[4] || 'hidden'" class="section slide-section">
    <div class="row element">
      <div class="col img">
        <img class="img-topic" src="assets/images/06.png" alt="06" width="100%">
      </div>
      <div class="col-1"></div>
      <div class="col-7">
        <div class="topic-title">Revisa tu progreso</div>
        <div class="topic-description">Revisa tu desempeño mensual y mantente constante.</div>
        <div class="topic-description">El vocabulario menos memorizado será el que tenga la prioridad para ser estudiado.</div>
      </div>
    </div>
  </section>

  <section #animatedSection [@slideInFromLeft]="sectionStates[5] || 'hidden'" class="section scale-section">
    <div class="row element">
      <div class="col-8">
        <div class="topic-title">Personaliza</div>
        <div class="topic-description">Aplicación disponible en Español, Inglés y Tailandés.</div>
        <div class="topic-description">Comparte, exporta e importa una colección particular o todas tus colecciones.</div>
      </div>
      <div class="col-1"></div>
      <div class="col img">
        <img class="img-topic" src="assets/images/07.png" alt="07" width="100%">
      </div>
    </div>
  </section>

  <section #animatedSection [@fadeInOut]="sectionStates[6] || 'hidden'" class="section fade-section">
    <div class="row element">
      <div class="col img">
        <img class="img-topic" src="assets/images/08.png" alt="08">
      </div>
      <div class="col-1"></div>
      <div class="col-9 col-text">
        <div class="topic-title">Guarda tu progreso</div>
        <div class="topic-description">
          Vincula la aplicación con tu cuenta de Google y conserva un respaldo de tus colecciones.
        </div>
        <div class="topic-description">
          Con tu cuenta vinculada puedes acceder a tus colecciones desde varios dispositivos.
        </div>
        <div class="topic-description">
          Puedes eliminar tu cuenta en el momento que tú decidas.
        </div>
      </div>
    </div>
  </section>
</div>

<!-- FOOTER -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col text-center">
          <a class="topic-title" href="https://developersmix.com">Developers Mix</a>
          <div>
            México, CDMX
            <br>
            <strong>email:</strong> developersmix&#64;gmail.com
          </div>
        </div>

        <!--
        <div class="col">
          <div class="text-right">
            <div class="topic-title">Social</div>
            <div class="flex-row social-icons">
              <a href="#" class="icon-facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="icon-github"><i class="fa fa-github"></i></a>
              <a href="#" class="icon-youtube"><i class="fa fa-youtube"></i></a>
            </div>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="text-center">
      &copy; Copyright {{year}} <strong><span>Developers Mix</span></strong>. Todos los derechos reservados.
    </div>
  </div>
</footer>